@import '../../globals.scss';

.numbered-slider {
  padding-bottom: 2.6rem;
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    button {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      background: none;
      color: $color-white;
      font-size: 1.6rem;
      border: 1px solid rgba(255, 255, 255, 0.2);
      cursor: pointer;
      span {
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }

      &:hover {
        border-color: rgba(255, 255, 255, 0.6);
      }

      &.active {
        background: $color-white;
        color: $color-base;
        border: none;
      }
    }
  }
}

@media (min-width: $bp-768) {
  .numbered-slider {
    padding-bottom: 4.5rem;
    ul {
      button {
        width: 6rem;
        height: 6rem;
        font-size: 2.4rem;
      }
    }
  }
}

@media (min-width: $bp-1440) {
  .numbered-slider {
    padding: unset;
    ul {
      flex-direction: column;
      gap: 3.4rem;
      button {
        width: 8rem;
        height: 8rem;
        font-size: 3.2rem;
      }
    }
  }
}
