@import '../../globals.scss';

.navbar {
  padding: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;

  #hamburger-logo {
    cursor: pointer;
  }
}

.nav-items {
  width: 60%;
  background: $color-nav-bg;
  backdrop-filter: blur(40.7742px);

  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-inline: 6rem;
    position: relative;
    li {
      button {
        position: relative;
        text-transform: uppercase;
        background: unset;
        color: inherit;
        border: unset;
        cursor: pointer;
        font-size: 1.4rem;
        font-size: clamp(1.4rem, 0.3vw + 1.1rem, 1.6rem);
        letter-spacing: 2.7px;
        padding: 4rem 0;
        span:not(:last-child) {
          font-weight: 700;
          margin-right: 1rem;
        }
        &::after {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          content: '';
          background-color: $color-white;
          height: 3px;
          opacity: 0;
          transition: all 200ms ease-in-out;
        }
        &:hover::after {
          opacity: 0.5;
        }
        &.active::after {
          opacity: 100%;
        }
      }
    }
  }
}

.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  backdrop-filter: blur(40.7742px);
  height: 100vh;
  width: 67%;
  z-index: 999;

  .inside {
    padding: 3.4rem;
    display: flex;
    flex-direction: column;

    img {
      width: 20px;
      height: auto;
      align-self: flex-end;
      cursor: pointer;
    }

    .nav-overlay {
      ul {
        margin-top: 6.4rem;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        position: relative;
        li {
          button {
            position: relative;
            text-transform: uppercase;
            background: unset;
            color: inherit;
            border: unset;
            cursor: pointer;
            display: inline-flex;
            gap: 1.2rem;
            font-size: 1.6rem;
            span:not(:last-child) {
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

@media (min-width: $bp-768) {
  .navbar {
    padding: unset;
    padding-left: 4rem;
    ul {
      padding-inline: 3rem;
      li {
        button {
          letter-spacing: 2px;
        }
      }
    }
  }
}

@media (min-width: $bp-1440) {
  .navbar {
    top: 40px;
    ul {
      padding-left: 16rem;
      gap: 4.8rem;
      justify-content: unset;
    }
  }
}