@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");

/**************************/
/* Reset */
/**************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

input,
button,
textarea,
select {
  font: inherit;
}

html,
body {
  min-height: 100vh;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Barlow", serif;
}

/**************************/
/* Variables */
/**************************/

$color-base: hsl(230, 35%, 7%);
$color-accent: hsl(231, 77%, 90%);
$color-white: hsl(0, 0%, 0%);
$fs-h1: 15rem;
$fs-h2: 10rem;
$fs-h3: 5.6rem;
$fs-h4: 3.2rem;
$fs-h5: 2.8rem;
$fs-sub-h1: 2.8rem;
$fs-sub-h2: 1.4rem;
$fs-nav: 1.6rem;
$fs-par: 1.8rem;
$csp-h5: 4.75px;
$csp-sub-h2: 2.35px;
$csp-nav: 2.7px;
